###################################
# Python / FastAPI Backend
###################################
# virtual environments
venv/
.venv/
.venv-pin/

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Environment variables
.env
.env.*

# Vector DB persistence
vectorstore/
chroma/

# Experiment/runtime outputs
logs/
*.jsonl
mlflow.db

# Temporary files
*.tmp
*.swp
*.log


###################################
# Frontend (React / Vite / Next.js)
###################################
# node_modules/
# dist/
# build/
# .cache/
# .next/
# out/

# local environment configs
# frontend/.env
# frontend/.env.local
# frontend/.env.development
# frontend/.env.production

# logs
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*
# pnpm-debug.log*

# OS files
# .DS_Store
# Thumbs.db
